@font-face {
  font-display: block;
  font-family: "keka-icons";
  src: url("./fonts/keka-icons.woff2?40e6da4c36cbd66e825d3e764c4d8c33") format("woff2"),
url("./fonts/keka-icons.woff?40e6da4c36cbd66e825d3e764c4d8c33") format("woff");
}

.ki::before,
[class^="ki-"]::before,
[class*=" ki-"]::before {
  display: inline-block;
  font-family: keka-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ki-add-circle::before { content: "\f102"; }
.ki-add-comment::before { content: "\f103"; }
.ki-add-person::before { content: "\f104"; }
.ki-add-photo::before { content: "\f105"; }
.ki-add::before { content: "\f106"; }
.ki-admin-panel::before { content: "\f107"; }
.ki-alarm::before { content: "\f108"; }
.ki-announce::before { content: "\f109"; }
.ki-apps::before { content: "\f10a"; }
.ki-archive::before { content: "\f10b"; }
.ki-arrow-backward::before { content: "\f10c"; }
.ki-arrow-forward::before { content: "\f10d"; }
.ki-assistant::before { content: "\f10e"; }
.ki-attachment::before { content: "\f10f"; }
.ki-badge::before { content: "\f110"; }
.ki-bank::before { content: "\f111"; }
.ki-battery::before { content: "\f112"; }
.ki-behance::before { content: "\f113"; }
.ki-bulb::before { content: "\f114"; }
.ki-calendar::before { content: "\f115"; }
.ki-camera::before { content: "\f116"; }
.ki-cancel-circle::before { content: "\f117"; }
.ki-candidate-profile-pic::before { content: "\f118"; }
.ki-card-view::before { content: "\f119"; }
.ki-chart-fill::before { content: "\f11a"; }
.ki-chart-outline::before { content: "\f11b"; }
.ki-chart::before { content: "\f11c"; }
.ki-chat-bubble::before { content: "\f11d"; }
.ki-check-circle-fill::before { content: "\f11e"; }
.ki-check-circle::before { content: "\f11f"; }
.ki-check::before { content: "\f120"; }
.ki-chevron-down::before { content: "\f121"; }
.ki-chevron-left::before { content: "\f122"; }
.ki-chevron-right::before { content: "\f123"; }
.ki-chevron-up::before { content: "\f124"; }
.ki-clear-filter::before { content: "\f125"; }
.ki-clipboard::before { content: "\f126"; }
.ki-close::before { content: "\f127"; }
.ki-cloud-download::before { content: "\f128"; }
.ki-collapse::before { content: "\f129"; }
.ki-comment-outline::before { content: "\f12b"; }
.ki-comment::before { content: "\f12c"; }
.ki-copy::before { content: "\f12d"; }
.ki-credit-card::before { content: "\f12e"; }
.ki-dashboard::before { content: "\f12f"; }
.ki-delete::before { content: "\f130"; }
.ki-department::before { content: "\f131"; }
.ki-description::before { content: "\f132"; }
.ki-device-laptop-settings::before { content: "\f133"; }
.ki-disabled::before { content: "\f134"; }
.ki-document-sign::before { content: "\f135"; }
.ki-document-with-time::before { content: "\f136"; }
.ki-documents::before { content: "\f137"; }
.ki-dollar::before { content: "\f138"; }
.ki-download::before { content: "\f139"; }
.ki-drag-indicator::before { content: "\f13a"; }
.ki-drag::before { content: "\f13b"; }
.ki-dribbble::before { content: "\f13c"; }
.ki-edit::before { content: "\f13d"; }
.ki-effort::before { content: "\f13e"; }
.ki-employee-profile-exists::before { content: "\f13f"; }
.ki-enlarge::before { content: "\f140"; }
.ki-enter::before { content: "\f141"; }
.ki-error::before { content: "\f142"; }
.ki-excel::before { content: "\f143"; }
.ki-exclamation::before { content: "\f144"; }
.ki-exit::before { content: "\f145"; }
.ki-expand::before { content: "\f146"; }
.ki-facebook-circle::before { content: "\f147"; }
.ki-facebook-square::before { content: "\f148"; }
.ki-facebook::before { content: "\f149"; }
.ki-favorite::before { content: "\f14a"; }
.ki-feedback::before { content: "\f14b"; }
.ki-filter::before { content: "\f14c"; }
.ki-fire::before { content: "\f14d"; }
.ki-firelight::before { content: "\f14e"; }
.ki-firstpage::before { content: "\f14f"; }
.ki-flag::before { content: "\f150"; }
.ki-flash-off::before { content: "\f151"; }
.ki-flash::before { content: "\f152"; }
.ki-flight-fill::before { content: "\f153"; }
.ki-flight::before { content: "\f154"; }
.ki-folder-open::before { content: "\f155"; }
.ki-folder::before { content: "\f156"; }
.ki-fullscreen-exit::before { content: "\f157"; }
.ki-fullscreen::before { content: "\f158"; }
.ki-gift::before { content: "\f159"; }
.ki-github::before { content: "\f15a"; }
.ki-globe::before { content: "\f15b"; }
.ki-google-plus-circle::before { content: "\f15c"; }
.ki-google-plus::before { content: "\f15d"; }
.ki-group-of-people::before { content: "\f15e"; }
.ki-halfday::before { content: "\f15f"; }
.ki-hand-cursor::before { content: "\f160"; }
.ki-history::before { content: "\f162"; }
.ki-home-fill::before { content: "\f163"; }
.ki-home::before { content: "\f164"; }
.ki-icon-doubleyeshirebox::before { content: "\f165"; }
.ki-icon-musthire::before { content: "\f166"; }
.ki-icon-nohirebox::before { content: "\f167"; }
.ki-id-card::before { content: "\f168"; }
.ki-inbox::before { content: "\f169"; }
.ki-indeterminate::before { content: "\f16a"; }
.ki-info::before { content: "\f16b"; }
.ki-instagram::before { content: "\f16c"; }
.ki-job-fill::before { content: "\f16d"; }
.ki-job::before { content: "\f16e"; }
.ki-keka-favicon::before { content: "\f16f"; }
.ki-keka-feather-favicon::before { content: "\f170"; }
.ki-lastpage::before { content: "\f171"; }
.ki-launch::before { content: "\f172"; }
.ki-library::before { content: "\f174"; }
.ki-link::before { content: "\f175"; }
.ki-linkedin-square::before { content: "\f176"; }
.ki-linkedin::before { content: "\f177"; }
.ki-list-view::before { content: "\f178"; }
.ki-list::before { content: "\f179"; }
.ki-locate-me::before { content: "\f17a"; }
.ki-location::before { content: "\f17b"; }
.ki-lock::before { content: "\f17c"; }
.ki-logout::before { content: "\f17d"; }
.ki-mail::before { content: "\f17e"; }
.ki-medium::before { content: "\f17f"; }
.ki-menu::before { content: "\f180"; }
.ki-merge::before { content: "\f181"; }
.ki-minus-square::before { content: "\f182"; }
.ki-minus::before { content: "\f183"; }
.ki-more-horizontal::before { content: "\f184"; }
.ki-more-vertical::before { content: "\f185"; }
.ki-note::before { content: "\f186"; }
.ki-notes::before { content: "\f187"; }
.ki-notification-bell::before { content: "\f188"; }
.ki-notification::before { content: "\f189"; }
.ki-org::before { content: "\f18a"; }
.ki-pdf::before { content: "\f18e"; }
.ki-performance::before { content: "\f190"; }
.ki-person-with-time::before { content: "\f191"; }
.ki-phone::before { content: "\f193"; }
.ki-photo::before { content: "\f194"; }
.ki-picker::before { content: "\f195"; }
.ki-play::before { content: "\f196"; }
.ki-print::before { content: "\f197"; }
.ki-project::before { content: "\f198"; }
.ki-public::before { content: "\f199"; }
.ki-quora::before { content: "\f19a"; }
.ki-radio-off::before { content: "\f19b"; }
.ki-radio-on::before { content: "\f19c"; }
.ki-receipt::before { content: "\f19d"; }
.ki-referral::before { content: "\f19e"; }
.ki-refresh::before { content: "\f19f"; }
.ki-remove-circle::before { content: "\f1a0"; }
.ki-reply::before { content: "\f1a1"; }
.ki-rocket::before { content: "\f1a2"; }
.ki-rollback::before { content: "\f1a3"; }
.ki-rotate-screen::before { content: "\f1a4"; }
.ki-rotate::before { content: "\f1a5"; }
.ki-schedule::before { content: "\f1a6"; }
.ki-school::before { content: "\f1a7"; }
.ki-search::before { content: "\f1a8"; }
.ki-send::before { content: "\f1a9"; }
.ki-settings-fill::before { content: "\f1aa"; }
.ki-settings::before { content: "\f1ab"; }
.ki-share::before { content: "\f1ac"; }
.ki-shopping-bag::before { content: "\f1ad"; }
.ki-signature::before { content: "\f1ae"; }
.ki-skills::before { content: "\f1af"; }
.ki-skype::before { content: "\f1b0"; }
.ki-smartphone::before { content: "\f1b1"; }
.ki-snail::before { content: "\f1b2"; }
.ki-spa::before { content: "\f1b3"; }
.ki-speed-dashboard::before { content: "\f1b4"; }
.ki-square-minus-fill::before { content: "\f1b5"; }
.ki-star::before { content: "\f1b9"; }
.ki-subdirectory::before { content: "\f1bb"; }
.ki-supervisor::before { content: "\f1bc"; }
.ki-swap::before { content: "\f1bd"; }
.ki-switch-camera::before { content: "\f1be"; }
.ki-tag::before { content: "\f1bf"; }
.ki-textarea::before { content: "\f1c0"; }
.ki-textbox::before { content: "\f1c1"; }
.ki-thumb-down-fill::before { content: "\f1c2"; }
.ki-thumb-down::before { content: "\f1c3"; }
.ki-thumb-up::before { content: "\f1c4"; }
.ki-thumbs-up-down::before { content: "\f1c5"; }
.ki-ticket::before { content: "\f1c7"; }
.ki-timelapse::before { content: "\f1c8"; }
.ki-timesheet-left-nav::before { content: "\f1c9"; }
.ki-touch::before { content: "\f1ca"; }
.ki-twitter-square::before { content: "\f1cc"; }
.ki-twitter::before { content: "\f1cd"; }
.ki-unarchive::before { content: "\f1ce"; }
.ki-unchecked::before { content: "\f1cf"; }
.ki-unlock::before { content: "\f1d0"; }
.ki-upload::before { content: "\f1d1"; }
.ki-user::before { content: "\f1d2"; }
.ki-verified::before { content: "\f1d3"; }
.ki-view-report::before { content: "\f1d4"; }
.ki-visibility-off::before { content: "\f1d5"; }
.ki-visibility::before { content: "\f1d6"; }
.ki-wallet::before { content: "\f1d7"; }
.ki-warning::before { content: "\f1d8"; }
.ki-weekend::before { content: "\f1d9"; }
.ki-word::before { content: "\f1da"; }
.ki-working-remotely::before { content: "\f1db"; }
.ki-cancel-square-fill::before { content: "\f1dc"; }
.ki-check-square-fill::before { content: "\f1dd"; }
.ki-double-check-circle::before { content: "\f1de"; }
.ki-double-check-square-fill::before { content: "\f1df"; }
.ki-question-circle::before { content: "\f1e0"; }
.ki-question-square-fill::before { content: "\f1e1"; }
.ki-report::before { content: "\f1e2"; }
.ki-star-circle-fill::before { content: "\f1e3"; }
.ki-star-fill::before { content: "\f1e4"; }
.ki-add-square::before { content: "\f1e5"; }
.ki-star-circle::before { content: "\f1e6"; }
.ki-thumb-up-fill::before { content: "\f1e7"; }
.ki-dollar-circle::before { content: "\f1e8"; }
.ki-pen::before { content: "\f1e9"; }
.ki-ruppee-box::before { content: "\f1ea"; }
.ki-ruppee-hand::before { content: "\f1eb"; }
.ki-fire-fill::before { content: "\f1ec"; }
.ki-cancel-square::before { content: "\f101"; }
.ki-check-square::before { content: "\f12a"; }
.ki-comment-fill::before { content: "\f161"; }
.ki-double-check-square::before { content: "\f173"; }
.ki-leave-balance::before { content: "\f18b"; }
.ki-minus-square-fill::before { content: "\f18c"; }
.ki-question-square::before { content: "\f18d"; }
.ki-timelapse-fill::before { content: "\f18f"; }
.ki-linkedin-circle::before { content: "\f192"; }
.ki-twitter-circle::before { content: "\f1b6"; }
.ki-instagram-fill::before { content: "\f1b7"; }
.ki-youtube-fill::before { content: "\f1b8"; }
.ki-supervisor-fill::before { content: "\f1ba"; }
.ki-add-camera::before { content: "\f1c6"; }
.ki-add-user::before { content: "\f1cb"; }
.ki-announcement::before { content: "\f1ed"; }
.ki-user-shield::before { content: "\f1ee"; }
.ki-bulb-glowing::before { content: "\f1ef"; }
.ki-cloud-arrow-down::before { content: "\f1f0"; }
.ki-comment-star::before { content: "\f1f1"; }
.ki-user-tie::before { content: "\f1f2"; }
.ki-file-excel::before { content: "\f1f3"; }
.ki-file-user::before { content: "\f1f4"; }
.ki-heart::before { content: "\f1f5"; }
.ki-laptop-settings::before { content: "\f1f6"; }
.ki-person-digging::before { content: "\f1f7"; }
.ki-person-enter::before { content: "\f1f8"; }
.ki-sheet-clock::before { content: "\f1f9"; }
.ki-speedometer::before { content: "\f1fa"; }
.ki-bell-ring::before { content: "\f1fb"; }
.ki-bell::before { content: "\f1fc"; }
.ki-books::before { content: "\f1fd"; }
.ki-briefcase::before { content: "\f1fe"; }
.ki-circle-minus::before { content: "\f1ff"; }
.ki-clipboard-list::before { content: "\f200"; }
.ki-clock::before { content: "\f201"; }
.ki-comment-lines::before { content: "\f202"; }
.ki-couch::before { content: "\f203"; }
.ki-earth::before { content: "\f204"; }
.ki-eye-slash::before { content: "\f205"; }
.ki-eye::before { content: "\f206"; }
.ki-file-pdf::before { content: "\f207"; }
.ki-file::before { content: "\f208"; }
.ki-fire-flame-fill::before { content: "\f209"; }
.ki-fire-flame::before { content: "\f20a"; }
.ki-hand-holding-rupee::before { content: "\f20b"; }
.ki-home-laptop::before { content: "\f20c"; }
.ki-image::before { content: "\f20d"; }
.ki-locate::before { content: "\f20e"; }
.ki-microsoft-word::before { content: "\f20f"; }
.ki-mobile::before { content: "\f210"; }
.ki-no-flash::before { content: "\f211"; }
.ki-note-with-lines::before { content: "\f212"; }
.ki-notebook::before { content: "\f213"; }
.ki-play-circle::before { content: "\f214"; }
.ki-power-off::before { content: "\f215"; }
.ki-radio-button-off::before { content: "\f216"; }
.ki-radio-button-on::before { content: "\f217"; }
.ki-rupee-screen::before { content: "\f218"; }
.ki-shield-check::before { content: "\f219"; }
.ki-sun-half::before { content: "\f21a"; }
.ki-tools::before { content: "\f21b"; }
.ki-trend-line-up::before { content: "\f21c"; }
.ki-turtle::before { content: "\f21d"; }
.ki-user-clock::before { content: "\f21e"; }
.ki-user-duo::before { content: "\f21f"; }
.ki-user-group::before { content: "\f220"; }
.ki-user-id-badge::before { content: "\f221"; }
.ki-user-in::before { content: "\f222"; }
.ki-user-referral::before { content: "\f223"; }
.ki-youtube::before { content: "\f224"; }
.ki-address-book::before { content: "\f225"; }
.ki-alarm-360::before { content: "\f226"; }
.ki-alpha-numeric::before { content: "\f227"; }
.ki-alphabet-a::before { content: "\f228"; }
.ki-anonymous::before { content: "\f229"; }
.ki-arrow-down-left::before { content: "\f22a"; }
.ki-arrow-down::before { content: "\f22b"; }
.ki-arrow-dropdown::before { content: "\f22c"; }
.ki-arrow-left-right::before { content: "\f22d"; }
.ki-arrow-missed::before { content: "\f22e"; }
.ki-arrow-turn-down-right::before { content: "\f22f"; }
.ki-arrow-up-right::before { content: "\f230"; }
.ki-arrow-up::before { content: "\f231"; }
.ki-at::before { content: "\f232"; }
.ki-average-fill::before { content: "\f233"; }
.ki-average::before { content: "\f234"; }
.ki-award::before { content: "\f235"; }
.ki-azure-devops::before { content: "\f236"; }
.ki-backup::before { content: "\f237"; }
.ki-badge-check::before { content: "\f238"; }
.ki-bar-chart::before { content: "\f239"; }
.ki-batman::before { content: "\f23a"; }
.ki-book-globe::before { content: "\f23b"; }
.ki-briefcase-fill::before { content: "\f23c"; }
.ki-broken-bone::before { content: "\f23d"; }
.ki-building::before { content: "\f23e"; }
.ki-buildings::before { content: "\f23f"; }
.ki-bulb-fill::before { content: "\f240"; }
.ki-bulb-settings::before { content: "\f241"; }
.ki-bullseye-arrow::before { content: "\f242"; }
.ki-bullseye::before { content: "\f243"; }
.ki-cake::before { content: "\f244"; }
.ki-calendar-arrow-right::before { content: "\f245"; }
.ki-calendar-check::before { content: "\f246"; }
.ki-calendar-flight::before { content: "\f247"; }
.ki-calendar-star::before { content: "\f248"; }
.ki-calender-dash::before { content: "\f249"; }
.ki-calender-edit::before { content: "\f24a"; }
.ki-calender-week::before { content: "\f24b"; }
.ki-camera-filled::before { content: "\f24c"; }
.ki-camera-slash::before { content: "\f24d"; }
.ki-capsule::before { content: "\f24e"; }
.ki-card-view-1::before { content: "\f24f"; }
.ki-caret-down::before { content: "\f250"; }
.ki-caret-up::before { content: "\f251"; }
.ki-chair::before { content: "\f252"; }
.ki-chart-line-up::before { content: "\f253"; }
.ki-chart-mixed::before { content: "\f254"; }
.ki-chat-bubble-with-dots::before { content: "\f255"; }
.ki-checkbox-checked::before { content: "\f256"; }
.ki-checkbox-mixed::before { content: "\f257"; }
.ki-circle-arrow-down::before { content: "\f258"; }
.ki-circle-arrow-left::before { content: "\f259"; }
.ki-circle-arrow-right-1::before { content: "\f25a"; }
.ki-circle-arrow-right::before { content: "\f25b"; }
.ki-circle-arrow-up::before { content: "\f25c"; }
.ki-circle-half-fill::before { content: "\f25d"; }
.ki-circle-in-circle::before { content: "\f25e"; }
.ki-circle-notch::before { content: "\f25f"; }
.ki-circle-overlap::before { content: "\f260"; }
.ki-circle-plus-filled::before { content: "\f261"; }
.ki-claps-fill::before { content: "\f262"; }
.ki-claps::before { content: "\f263"; }
.ki-clipboard-check::before { content: "\f264"; }
.ki-clock-half-dotted::before { content: "\f265"; }
.ki-code::before { content: "\f266"; }
.ki-collpase::before { content: "\f267"; }
.ki-comment-edit::before { content: "\f268"; }
.ki-comment-smile::before { content: "\f269"; }
.ki-comment-star-filled::before { content: "\f26a"; }
.ki-compress::before { content: "\f26b"; }
.ki-couch-edit::before { content: "\f26c"; }
.ki-cursor::before { content: "\f26d"; }
.ki-dashed-circle-with-dot::before { content: "\f26e"; }
.ki-dashed-diamond-with-dot::before { content: "\f26f"; }
.ki-dashed-filter::before { content: "\f270"; }
.ki-diamond-check::before { content: "\f271"; }
.ki-diamond::before { content: "\f272"; }
.ki-disconnect::before { content: "\f273"; }
.ki-dollar-dots::before { content: "\f274"; }
.ki-dollar-inside-dashed-cricle::before { content: "\f275"; }
.ki-dollar-screen::before { content: "\f276"; }
.ki-dollar-slash-fill::before { content: "\f277"; }
.ki-dollar-slash::before { content: "\f278"; }
.ki-dollar-square::before { content: "\f279"; }
.ki-dove::before { content: "\f27a"; }
.ki-download-pdf::before { content: "\f27b"; }
.ki-edit-brush::before { content: "\f27c"; }
.ki-edit-file::before { content: "\f27d"; }
.ki-edit-note::before { content: "\f27e"; }
.ki-elephant::before { content: "\f27f"; }
.ki-ellipses-solid::before { content: "\f280"; }
.ki-email::before { content: "\f281"; }
.ki-envelope-open-dollar::before { content: "\f282"; }
.ki-error-filled::before { content: "\f283"; }
.ki-face-blank::before { content: "\f284"; }
.ki-face-happy::before { content: "\f285"; }
.ki-face-laugh-fill::before { content: "\f286"; }
.ki-face-laugh::before { content: "\f287"; }
.ki-face-neutral::before { content: "\f288"; }
.ki-face-sad::before { content: "\f289"; }
.ki-face-smile::before { content: "\f28a"; }
.ki-family::before { content: "\f28b"; }
.ki-file-add::before { content: "\f28c"; }
.ki-file-check::before { content: "\f28d"; }
.ki-file-dashed-line::before { content: "\f28e"; }
.ki-file-dollar::before { content: "\f28f"; }
.ki-file-with-lines::before { content: "\f290"; }
.ki-files-with-lines::before { content: "\f291"; }
.ki-filter-list::before { content: "\f292"; }
.ki-finger-scan::before { content: "\f293"; }
.ki-first-aid-kit::before { content: "\f294"; }
.ki-fish-bones::before { content: "\f295"; }
.ki-flash-circle::before { content: "\f296"; }
.ki-flight-360::before { content: "\f297"; }
.ki-gender-female::before { content: "\f298"; }
.ki-gender-male::before { content: "\f299"; }
.ki-gender-other::before { content: "\f29a"; }
.ki-ghost::before { content: "\f29b"; }
.ki-google-calendar-fill::before { content: "\f29c"; }
.ki-google-calendar::before { content: "\f29d"; }
.ki-googleplus-circle::before { content: "\f29e"; }
.ki-googleplus-square::before { content: "\f29f"; }
.ki-googleplus::before { content: "\f2a0"; }
.ki-grid::before { content: "\f2a1"; }
.ki-grip-lines::before { content: "\f2a2"; }
.ki-guide::before { content: "\f2a3"; }
.ki-hand-fill::before { content: "\f2a4"; }
.ki-hand-holding-flag::before { content: "\f2a5"; }
.ki-hand-holding-medical::before { content: "\f2a6"; }
.ki-hand-holding-seedling::before { content: "\f2a7"; }
.ki-hand-rock::before { content: "\f2a8"; }
.ki-hand-shake::before { content: "\f2a9"; }
.ki-hand-user::before { content: "\f2aa"; }
.ki-hand-wave::before { content: "\f2ab"; }
.ki-hand::before { content: "\f2ac"; }
.ki-hands-holding-heart::before { content: "\f2ad"; }
.ki-headset::before { content: "\f2ae"; }
.ki-heart-check::before { content: "\f2af"; }
.ki-heart-fill::before { content: "\f2b0"; }
.ki-heart-pulse::before { content: "\f2b1"; }
.ki-high-five::before { content: "\f2b2"; }
.ki-home-heart::before { content: "\f2b3"; }
.ki-hospital::before { content: "\f2b4"; }
.ki-hour-glass::before { content: "\f2b5"; }
.ki-if-else::before { content: "\f2b6"; }
.ki-in::before { content: "\f2b7"; }
.ki-inbox-fill::before { content: "\f2b8"; }
.ki-inbox-unselected-with-red-dot::before { content: "\f2b9"; }
.ki-jira::before { content: "\f2ba"; }
.ki-keka-feather-favicon-colored::before { content: "\f2bb"; }
.ki-key::before { content: "\f2bc"; }
.ki-kiwi-bird::before { content: "\f2bd"; }
.ki-laptop-mobile::before { content: "\f2be"; }
.ki-laptop-setting::before { content: "\f2bf"; }
.ki-laptop::before { content: "\f2c0"; }
.ki-leaf::before { content: "\f2c1"; }
.ki-life-ring::before { content: "\f2c2"; }
.ki-list-checked::before { content: "\f2c3"; }
.ki-locate-centre-filled::before { content: "\f2c4"; }
.ki-location-arrow-filled::before { content: "\f2c5"; }
.ki-location-arrow::before { content: "\f2c6"; }
.ki-location-signal::before { content: "\f2c7"; }
.ki-lock-filled::before { content: "\f2c8"; }
.ki-lock-open::before { content: "\f2c9"; }
.ki-maternity::before { content: "\f2ca"; }
.ki-meditation::before { content: "\f2cb"; }
.ki-menu-dot::before { content: "\f2cc"; }
.ki-microphone-off::before { content: "\f2cd"; }
.ki-microphone-on::before { content: "\f2ce"; }
.ki-microsoft-excel::before { content: "\f2cf"; }
.ki-microsoft-outlook::before { content: "\f2d0"; }
.ki-microsoft-powerpoint::before { content: "\f2d1"; }
.ki-microsoft-teams-1::before { content: "\f2d2"; }
.ki-microsoft-teams::before { content: "\f2d3"; }
.ki-money-calculator::before { content: "\f2d4"; }
.ki-money-check-dollar::before { content: "\f2d5"; }
.ki-money::before { content: "\f2d6"; }
.ki-monkey::before { content: "\f2d7"; }
.ki-moon-stars::before { content: "\f2d8"; }
.ki-not-started::before { content: "\f2d9"; }
.ki-notification-mobile::before { content: "\f2da"; }
.ki-number-box::before { content: "\f2db"; }
.ki-operators::before { content: "\f2dc"; }
.ki-otter::before { content: "\f2dd"; }
.ki-palm-tree::before { content: "\f2de"; }
.ki-party::before { content: "\f2df"; }
.ki-pause::before { content: "\f2e0"; }
.ki-pay-register::before { content: "\f2e1"; }
.ki-pen-to-square::before { content: "\f2e2"; }
.ki-person-exit::before { content: "\f2e3"; }
.ki-person-file::before { content: "\f2e4"; }
.ki-person-leaving-organisation::before { content: "\f2e5"; }
.ki-person-running::before { content: "\f2e6"; }
.ki-person-skating::before { content: "\f2e7"; }
.ki-person-sledding::before { content: "\f2e8"; }
.ki-pin-fill::before { content: "\f2e9"; }
.ki-pin::before { content: "\f2ea"; }
.ki-profile-focus::before { content: "\f2eb"; }
.ki-pulse::before { content: "\f2ec"; }
.ki-question-square-1::before { content: "\f2ed"; }
.ki-rabbit::before { content: "\f2ee"; }
.ki-radar::before { content: "\f2ef"; }
.ki-rectangle-history-circle-plus::before { content: "\f2f0"; }
.ki-reopen::before { content: "\f2f1"; }
.ki-Report-filled::before { content: "\f2f2"; }
.ki-reverse::before { content: "\f2f3"; }
.ki-ribbon-1::before { content: "\f2f4"; }
.ki-ribbon::before { content: "\f2f5"; }
.ki-rocket-down::before { content: "\f2f6"; }
.ki-rotate-left::before { content: "\f2f7"; }
.ki-rupee-circle-fill::before { content: "\f2f8"; }
.ki-rupee-circle::before { content: "\f2f9"; }
.ki-rupee-stack::before { content: "\f2fa"; }
.ki-rupee::before { content: "\f2fb"; }
.ki-rupees::before { content: "\f2fc"; }
.ki-save::before { content: "\f2fd"; }
.ki-scroll-old::before { content: "\f2fe"; }
.ki-segment-bar::before { content: "\f2ff"; }
.ki-sheep::before { content: "\f300"; }
.ki-shiled-exclamation::before { content: "\f301"; }
.ki-skype-square::before { content: "\f302"; }
.ki-slack-square::before { content: "\f303"; }
.ki-slack::before { content: "\f304"; }
.ki-sort::before { content: "\f305"; }
.ki-squares-with-plus::before { content: "\f306"; }
.ki-stamp::before { content: "\f307"; }
.ki-star-half::before { content: "\f308"; }
.ki-star-keka-feathers::before { content: "\f309"; }
.ki-star-shooting::before { content: "\f30a"; }
.ki-star-sparkle::before { content: "\f30b"; }
.ki-star-triangle::before { content: "\f30c"; }
.ki-stethoscope::before { content: "\f30d"; }
.ki-suitcase-clock::before { content: "\f30e"; }
.ki-sun-rise::before { content: "\f30f"; }
.ki-sun-set::before { content: "\f310"; }
.ki-sun::before { content: "\f311"; }
.ki-tethering-alt::before { content: "\f312"; }
.ki-tethering::before { content: "\f313"; }
.ki-text-area::before { content: "\f314"; }
.ki-text-box::before { content: "\f315"; }
.ki-text-field::before { content: "\f316"; }
.ki-text::before { content: "\f317"; }
.ki-thought-fill::before { content: "\f318"; }
.ki-thought::before { content: "\f319"; }
.ki-timer-check::before { content: "\f31a"; }
.ki-timer-slash::before { content: "\f31b"; }
.ki-tool::before { content: "\f31c"; }
.ki-trash::before { content: "\f31d"; }
.ki-trendline-down::before { content: "\f31e"; }
.ki-trendline-up::before { content: "\f31f"; }
.ki-trophy::before { content: "\f320"; }
.ki-user-add::before { content: "\f321"; }
.ki-user-check::before { content: "\f322"; }
.ki-user-duo-fill::before { content: "\f323"; }
.ki-user-edit::before { content: "\f324"; }
.ki-user-group-plus::before { content: "\f325"; }
.ki-user-id-card::before { content: "\f326"; }
.ki-user-minus::before { content: "\f327"; }
.ki-user-money::before { content: "\f328"; }
.ki-user-refresh::before { content: "\f329"; }
.ki-user-search-1::before { content: "\f32a"; }
.ki-user-search::before { content: "\f32b"; }
.ki-user-slash::before { content: "\f32c"; }
.ki-user-star::before { content: "\f32d"; }
.ki-video::before { content: "\f32e"; }
.ki-virus::before { content: "\f32f"; }
.ki-weightage::before { content: "\f330"; }
.ki-wrench::before { content: "\f331"; }
.ki-report-filled::before { content: "\f332"; }
.ki-checkbox-unchecked::before { content: "\f333"; }
.ki-google-plus-square::before { content: "\f334"; }
.ki-user-folder::before { content: "\f335"; }
.ki-user-magnifier::before { content: "\f336"; }
.ki-baby-carriage::before { content: "\f337"; }
.ki-ballot-box::before { content: "\f338"; }
.ki-bike::before { content: "\f339"; }
.ki-bluetooth::before { content: "\f33a"; }
.ki-car::before { content: "\f33b"; }
.ki-cart::before { content: "\f33c"; }
.ki-cloud-arrow-up::before { content: "\f33d"; }
.ki-cloud-slash::before { content: "\f33e"; }
.ki-cloud::before { content: "\f33f"; }
.ki-cup::before { content: "\f340"; }
.ki-desktop::before { content: "\f341"; }
.ki-dice-five::before { content: "\f342"; }
.ki-dumbbell::before { content: "\f343"; }
.ki-fan::before { content: "\f344"; }
.ki-film::before { content: "\f345"; }
.ki-flower::before { content: "\f346"; }
.ki-fork-knife::before { content: "\f347"; }
.ki-gas-station::before { content: "\f348"; }
.ki-gift-card::before { content: "\f349"; }
.ki-glass-water::before { content: "\f34a"; }
.ki-keyboard::before { content: "\f34b"; }
.ki-location-slash::before { content: "\f34c"; }
.ki-mobile-andriod::before { content: "\f34d"; }
.ki-mouse::before { content: "\f34e"; }
.ki-paint-roller::before { content: "\f34f"; }
.ki-palette::before { content: "\f350"; }
.ki-person-riding-bike::before { content: "\f351"; }
.ki-plane::before { content: "\f352"; }
.ki-reading-book::before { content: "\f353"; }
.ki-router::before { content: "\f354"; }
.ki-scanner-image::before { content: "\f355"; }
.ki-scissors::before { content: "\f356"; }
.ki-sd-card::before { content: "\f357"; }
.ki-shield::before { content: "\f358"; }
.ki-ship::before { content: "\f359"; }
.ki-snow-flake::before { content: "\f35a"; }
.ki-speaker::before { content: "\f35b"; }
.ki-tags::before { content: "\f35c"; }
.ki-taxi::before { content: "\f35d"; }
.ki-telivision::before { content: "\f35e"; }
.ki-traffic-lights::before { content: "\f35f"; }
.ki-train::before { content: "\f360"; }
.ki-truck::before { content: "\f361"; }
.ki-umberella::before { content: "\f362"; }
.ki-utensils::before { content: "\f363"; }
.ki-van-shuttle::before { content: "\f364"; }
.ki-volume::before { content: "\f365"; }
.ki-watch::before { content: "\f366"; }
.ki-wifi::before { content: "\f367"; }
.ki-android::before { content: "\f368"; }
.ki-bus::before { content: "\f369"; }
.ki-cloud-check::before { content: "\f36a"; }
.ki-cloud-circle::before { content: "\f36b"; }
.ki-comment-dots::before { content: "\f36c"; }
.ki-dish::before { content: "\f36d"; }
.ki-first-page::before { content: "\f36e"; }
.ki-inbox-arrow-down::before { content: "\f36f"; }
.ki-last-page::before { content: "\f370"; }
.ki-person-on-airline-seat-flat::before { content: "\f371"; }
.ki-person-sleeping::before { content: "\f372"; }
.ki-torch-on::before { content: "\f373"; }
.ki-arrow-dropup::before { content: "\f374"; }
.ki-dollar-circle-check::before { content: "\f375"; }
.ki-dollar-circle-clock::before { content: "\f376"; }
.ki-calendar-dash::before { content: "\f377"; }
.ki-calendar-edit::before { content: "\f378"; }
.ki-calendar-week::before { content: "\f379"; }
.ki-dollar-slash-circle::before { content: "\f37a"; }
.ki-circle-right-dotted::before { content: "\f37b"; }
.ki-tag-vertical-check::before { content: "\f37c"; }
.ki-tag-vertical::before { content: "\f37d"; }
.ki-webhook::before { content: "\f37e"; }
.ki-pen-slash::before { content: "\f37f"; }
.ki-arrow-right-long::before { content: "\f380"; }
.ki-mobile-iphone::before { content: "\f381"; }
.ki-television::before { content: "\f382"; }
.ki-scanner::before { content: "\f383"; }
.ki-screen-check::before { content: "\f384"; }
.ki-arrow-dropdown-left::before { content: "\f385"; }
.ki-arrow-dropdown-right::before { content: "\f386"; }
.ki-star-half-fill::before { content: "\f387"; }
.ki-number::before { content: "\f388"; }
.ki-add-note::before { content: "\f389"; }
.ki-bug::before { content: "\f38a"; }
.ki-file-search::before { content: "\f38b"; }
.ki-gem::before { content: "\f38c"; }
.ki-rupee-sack::before { content: "\f38d"; }
.ki-sort-down-a-z::before { content: "\f38e"; }
.ki-sort-down::before { content: "\f38f"; }
.ki-ticket-simple::before { content: "\f390"; }
.ki-grid-two::before { content: "\f391"; }
.ki-user-phone::before { content: "\f392"; }
.ki-money-slash::before { content: "\f393"; }
.ki-star-half-fill-secondary::before { content: "\f394"; }
.ki-auto-flash::before { content: "\f395"; }
.ki-broom-sparkle::before { content: "\f396"; }
.ki-robot::before { content: "\f397"; }
.ki-wand::before { content: "\f398"; }
.ki-earth-location::before { content: "\f399"; }
.ki-mobile-clock-in::before { content: "\f39a"; }
.ki-regularise::before { content: "\f39b"; }
.ki-finger-scanner::before { content: "\f39c"; }
.ki-web-clock-in::before { content: "\f39d"; }
.ki-shield-exclamation::before { content: "\f39e"; }
.ki-flow::before { content: "\f39f"; }
.ki-question::before { content: "\f3a0"; }
.ki-file-download::before { content: "\f3a1"; }
.ki-file-zip::before { content: "\f3a2"; }
.ki-folder-upload::before { content: "\f3a3"; }
