.hide {
    display: none;
}

.warning-container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 85vh;
}

.warning-message {
    padding: 40px;
    width: 50%;
    min-height: 200px;
    border-radius: 8px;
    background: white;
    position: relative;
    box-shadow: 0px 0px 10px #d3d3d3;;
}
